.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 30px;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__block-slider {
  max-width: 800px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 3;
}

.header__block-slider .slider__item {
  width: 50px;
  height: 50px;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-position: center;
  background-size: cover;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.header__block-slider .slider__item.html {
  background-image: url(../img/html.png);
}

.header__block-slider .slider__item.css {
  background-image: url(../img/css.png);
}

.header__block-slider .slider__item.bootstrap {
  background-image: url(../img/bootstrap.png);
}

.header__block-slider .slider__item.js {
  background-image: url(../img/js.png);
}

.header__block-slider .slider__item.sass {
  background-image: url(../img/scss.png);
}

.header__block-slider .slider__item.gulp {
  background-image: url(../img/gulp.png);
}

.header__block-slider .slider__item.jQuery {
  background-image: url(../img/jQuery.png);
}

.header__block-slider .slider__item.figma {
  background-image: url(../img/figma.png);
}

.header__block-slider .slider__item.photoshop {
  background-image: url(../img/photoshop.png);
}

.header__block-slider .slider__item:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.header__logo {
  z-index: 5;
}

.header__logo a {
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
}

.head__block {
  background-image: url(../img/main.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: auto;
  position: relative;
  z-index: 1;
}

.head__block-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(#0c1f88), to(#0d21d3));
  background: -o-linear-gradient(#000000, #0c1f88, #0d21d3);
  background: linear-gradient(#000000, #0c1f88, #0d21d3);
  z-index: 2;
  opacity: 35%;
}

.head__content {
  height: 100%;
  z-index: 3;
  position: relative;
  padding: 40vh 0 0 10vh;
  font-size: 35px;
}

.head__content h2 {
  font-size: 60px;
  -webkit-transform: rotate(5deg);
      -ms-transform: rotate(5deg);
          transform: rotate(5deg);
}

.head__content p {
  margin-bottom: 20px;
}

.head__block-downloadButton {
  color: #fff;
  font-size: 16px;
  border: 2px solid #ffa600;
  border-radius: 10px;
  max-width: 190px;
  max-height: 50px;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  display: block;
}

.head__block-downloadButton span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: #ffa600;
  -webkit-transform: translateY(150%);
      -ms-transform: translateY(150%);
          transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: calc((var(--n) - 1) * 0.1s);
       -o-transition-delay: calc((var(--n) - 1) * 0.1s);
          transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

.head__block-downloadButton:hover {
  color: black;
}

.head__block-downloadButton:hover span {
  -webkit-transform: translateY(0) scale(2);
      -ms-transform: translateY(0) scale(2);
          transform: translateY(0) scale(2);
}

.head__block-downloadButton span:nth-child(1) {
  --n: 1;
}

.head__block-downloadButton span:nth-child(2) {
  --n: 2;
}

.head__block-downloadButton span:nth-child(3) {
  --n: 3;
}

.head__block-downloadButton span:nth-child(4) {
  --n: 4;
}

.about__block {
  background-image: url(../img/about.jpg);
}

.about__block-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(#050504), to(#234125)), -webkit-gradient(linear, left top, left bottom, from(#224b25), color-stop(#197416), to(#069b10));
  background: -o-linear-gradient(#000000, #050504, #234125), -o-linear-gradient(#224b25, #197416, #069b10);
  background: linear-gradient(#000000, #050504, #234125), linear-gradient(#224b25, #197416, #069b10);
  z-index: 2;
  opacity: 35%;
}

.about__block-content {
  z-index: 3;
  position: relative;
  padding-top: 12vh;
}

.about__block-title {
  text-align: center;
  font-size: 40px;
  max-width: 800px;
  margin: 0 auto;
}

.about__block-text {
  font-size: 20px;
  margin-top: 10vh;
}

.about__block-sliderTitle {
  text-align: center;
  font-size: 20px;
  padding: 80px 0 20px;
}

.portfolio__block {
  background-image: url(../img/portfolio.jpg);
}

.portfolio__block-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(#050504), to(#234125)), -webkit-gradient(linear, left top, left bottom, from(#224b25), color-stop(#197416), to(#069b10));
  background: -o-linear-gradient(#000000, #050504, #234125), -o-linear-gradient(#224b25, #197416, #069b10);
  background: linear-gradient(#000000, #050504, #234125), linear-gradient(#224b25, #197416, #069b10);
  z-index: 2;
  opacity: 35%;
}

.portfolio__block-content {
  z-index: 3;
  position: relative;
  padding-top: 12vh;
}

.contacts__block {
  background-image: url(../img/contacts.jpg);
}

.contacts__block-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(#050504), to(#234125)), -webkit-gradient(linear, left top, left bottom, from(#224b25), color-stop(#197416), to(#069b10));
  background: -o-linear-gradient(#000000, #050504, #234125), -o-linear-gradient(#224b25, #197416, #069b10);
  background: linear-gradient(#000000, #050504, #234125), linear-gradient(#224b25, #197416, #069b10);
  z-index: 2;
  opacity: 35%;
}

.contacts__block-content {
  z-index: 3;
  position: relative;
  padding-top: 12vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts__block-content a {
  color: #fff;
  display: block;
}

.aside {
  position: absolute;
  right: -220px;
  top: 0;
  z-index: 4;
  height: 100%;
  width: 300px;
  background-color: black;
  background: rgba(0, 0, 0, 0.5);
  font-size: 60px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.aside__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 12px;
}

.aside__block-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 55px;
  margin-bottom: 40vh;
}

.aside__block-icon {
  color: #fff;
  margin-bottom: 25px;
  border: none;
  outline: none;
  opacity: 70%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.aside__block-icon:hover {
  opacity: 100%;
  -webkit-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.aside__block-icon:nth-of-type(2) {
  color: red;
}

.aside__block-icon:nth-of-type(2):hover {
  -webkit-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
          transform: rotate(10deg);
}

.aside__menu {
  position: relative;
  margin-top: 15px;
}

.aside__menu-button {
  display: block;
  border: none;
  outline: none;
  width: 50px;
  height: 50px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  font-size: 0;
  background: transparent;
}

.aside__menu-button span {
  position: asolute;
  display: block;
  background: #fff;
  height: 5px;
  top: 20px;
  left: 0;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.aside__menu-button span::after,
.aside__menu-button span::before {
  content: "";
  height: 5px;
  width: 100%;
  background: #fff;
  -webkit-transition: all ease-out .6s;
  -o-transition: all ease-out .6s;
  transition: all ease-out .6s;
  display: block;
  position: absolute;
  border-radius: 5px;
}

.aside__menu-button span::before {
  top: 10px;
}

.aside__menu-button span::after {
  bottom: 10px;
}

.aside__menu-button.active span {
  background: transparent;
}

.aside__menu-button.active span::after {
  -webkit-transform: translateY(-11px) rotate(45deg);
      -ms-transform: translateY(-11px) rotate(45deg);
          transform: translateY(-11px) rotate(45deg);
}

.aside__menu-button.active span::before {
  -webkit-transform: translateY(13px) rotate(-45deg);
      -ms-transform: translateY(13px) rotate(-45deg);
          transform: translateY(13px) rotate(-45deg);
}

.aside__nav {
  max-width: 145px;
  margin: 0 auto;
  display: none;
  opacity: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.aside__nav-list {
  display: inline-block;
  font-size: 25px;
}

.aside__nav-list li {
  opacity: 80%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-shadow: 0 -1px #fff;
  position: relative;
  transition: 0.5s;
}

.aside__nav-list li:hover {
  opacity: 100%;
}

.aside__nav-list li::after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  content: "";
  -webkit-transition: width 0.3s ease-out;
  -o-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}

.aside__nav-list li:hover:after,
.aside__nav-list li:focus:after {
  width: 100%;
}

.aside__nav-item {
  display: block;
  color: #fff;
  text-align: center;
  outline: none;
  border: none;
  padding: 5px 10px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  letter-spacing: 2px;
}

.aside__nav-item:hover {
  color: #fff;
}

.open {
  right: 0;
}

.active {
  display: block;
  opacity: 100%;
}

.footer {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  z-index: 3;
}

.footer__title {
  max-width: 300px;
  font-size: 15px;
  text-align: center;
  margin: 0 auto;
}

.animated-show {
  -webkit-animation: show ease-in 1s;
          animation: show ease-in 1s;
  opacity: 100%;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

@-webkit-keyframes show {
  0% {
    opacity: 0%;
  }

  20% {
    opacity: 20%;
  }

  40% {
    opacity: 40%;
  }

  60% {
    opacity: 60%;
  }

  80% {
    opacity: 80%;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes show {
  0% {
    opacity: 0%;
  }

  20% {
    opacity: 20%;
  }

  40% {
    opacity: 40%;
  }

  60% {
    opacity: 60%;
  }

  80% {
    opacity: 80%;
  }

  100% {
    opacity: 100%;
  }
}

.hide {
  opacity: 0%;
}

.show {
  opacity: 100%;
}

html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100vh;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  border: none;
  outline: none;
}

li {
  list-style: none;
}

body {
  font-family: "AbrilFatface-Regular";
  font-weight: 400;
  color: #fff;
  position: relative;
  background-color: black;
}

.container {
  width: 90%;
  min-height: 100%;
  margin: 0 auto;
}

section {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}